.input-title {
  margin-bottom: 0.375rem;
  align-self: flex-start;
  position: relative;
  width: max-content;
  &-is-required {
    color: #f20007;
    position: absolute;
    right: -0.625rem;
    top: 0;
  }
}
